*, html, body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Verdana,Arial,sans-serif;
}
body {
background-color:#fff;
}
header {
height:50px;
display:flex;
justify-content:left;
align-items:center;
background-color:lightyellow;
color:#1878F3;
}
.phone-icon {
margin:0 2px 0 7px;
width:25px;
height:25px;
}
.input-container {
margin:15px 0 0 0;
display:flex;
flex-direction:column;
align-items:center;
width:100%;
}
.facebook-text-logo {
width:100px;
align-self:center;
margin:0 0 20px 0;
}
.input-box {
width:100%;
display:flex;
align-items:center;
flex-direction:column;
}
.input {
border-radius:5px;
width:90%;
height:40px;
margin:0 0 7px 0;
background-color:#f5f6f8;
border:1px solid rgba(150,150,150,0.2);
box-shadow:1px 1px rgba(150,150,150,0.2);
padding:0 0 0 10px;
font-size:17px;
}
.submit {
margin:3px 0 0 0;
width:90%;
height:45px;
border-radius:5px;
border:0;
background-color:#1878f3;
color:#fff;
font-size:20px;
font-weight:700;
}
.input-box p {
color:#1878f3;
margin:15px 0 15px 0;
z-index:2;
}
.input-hr {
margin:10px;
display:flex;
justify-content:center;
align-items:center;
width:100%;
}
.input-hr hr {
width:90%;
height:1px;
}
.input-hr p {
text-align:center;
position:fixed;
left:auto;
padding:5px 15px 5px 15px;
background-color:#fff;
color:#000;
z-index:1;
}
.cna {
margin:10px 0 0 0;
width:70%;
height:35px;
background-color:#fff;
border-radius:5px;
border:1px solid lightgray;
font-size:20px;
font-weight:500;
}
.information {
width:70%;
margin:150px 0 0 0;
display:flex;
align-items:center;
justify-content:space-between;
}
.information p {
text-align:center;
color:#61708d;
}
.info1 p,.info2 p {
margin:3px;
}
.info2 {
display:flex;
flex-direction:column;
align-items:center;
}
.add-lang{
display:flex;
align-items:center;
padding:0 6px 0 6px;
font-size:25px;
font-weight:400;
border:1px solid #61708d;
border-radius:3px;
}
.meta {
color:gray;
}
a {
text-decoration:none;
}